/*SCSS Files*/
@use 'variables';
@use 'main';

/*General Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: variables.$bg-color;
    overflow-y: hidden;

    .tux3er{
        color: #fff;
        text-align: center;
        position: relative;
        bottom: 50px;
        font-family: variables.$inter;
    }
}

@media only screen and (max-width: 480px){
    body{
        overflow-y: scroll;
        
        .tux3er{
            font-size: 17px;
            top: 20px;
            padding-bottom: 20px;
        }
    }
}